.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
flutter_*.log
.packages
.pub-cache/
.pub/
build/
coverage/
.idea/
.vscode/
*.iml
.tools/
android/.gradle/
android/app/google-services.json
android/local.properties
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore
.superpowers/
.omx/
